SALGSKORT_DATA_SOURCE=demo
SALGSKORT_GRAPH_TENANT_ID=
SALGSKORT_GRAPH_CLIENT_ID=
SALGSKORT_GRAPH_CLIENT_SECRET=
SALGSKORT_GRAPH_SITE_ID=
SALGSKORT_GRAPH_DRIVE_ITEM_PATH=Delte dokumenter/Salgskort.xlsx
SALGSKORT_GRAPH_WORKSHEET_NAME=Salgskort
SALGSKORT_GEOCODE_PROVIDER=dataforsyningen
SALGSKORT_CORS_ALLOW_ORIGINS=http://localhost:5173
